:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-text-color: #2196f3;
  --primary-bg-color: #ffffff;
  --black-text-color: #000000;
}
/* РЕСЕТ */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
/* зміна руки і курсора при наведенні*/
button {
  cursor: pointer;
}
/* Забирає проміжуток між картинками - строчний елемент */
img {
  display: block;
}
/* COMENTS */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
/* head */
body {
  background-color: #e5e5e5;
  color: #212121;
  font-family: Roboto, sans-serif;
}
button {
  font-family: inherit;
  cursor: pointer;
}
/* contacts */
/* заб точки */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* заб підкреслення а сlass */
.link {
  text-decoration: none;
}
/*---------- logo------------------- */
.page-header {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
.web-color {
  color: var(--accent-text-color);
  font-size: 26px;
  font-weight: bold;
  line-height: 0.83;
  font-family: Raleway;
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 25px;
}
.studio-color {
  color: var(--black-text-color);
  font-size: 26px;
  font-weight: bold;
  line-height: 0.83;
}
/* ---------------site nav--------------------- */
/* site-nav */
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.site-nav a {
  color: var(--primary-text-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-text-color);
}
/* current-поточне підсвічування(постійне синє) */
.site-nav .link.current {
  color: var(--accent-text-color);
}
/* -------------site-contacts------------------- */
.site-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.site-contact a {
  color: var(--primary-text-color);
}
.site-contact a:hover,
.site-contact a:focus {
  color: var(--accent-text-color);
}
.site-contact .link.current {
  color: var(--accent-text-color);
}
/*-------------------section hero------------------- */

.hero {
  background-color: var(--black-text-color);
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  margin-top: 0;
  margin-bottom: 30;
}
.button-primary {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
  display: inline-block;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
}
.title {
  margin: 0;
  margin-bottom: 94;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* ----------------section------------------------ */

.section-list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.section-list-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* ------------------section job--------------- */
.job-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.box {
  list-style: none;
}
/* section */
.section {
  background: #f5f4fa;
}
/* job-titie */
/* --------------------section team------------------ */
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}
.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.p-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* button */
.button-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button {
  color: var(--primary-bg-color);
}
button:hover,
button:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-bg-color);
}
.button-all {
  background: #2196f3;
  color: var(--primary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
/* footer */
.footer {
  background-color: var(--black-text-color);
}
.studio-footer {
  color: var(--primary-bg-color);
  font-size: 26px;
  font-weight: bold;
  line-height: 0.83;
}
/* -------------foter-title -------------*/
.footer-nav {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-bg-color);
}
.footer-title a {
  color: var(--primary-bg-color);
}
.footer-title a:hover,
.footer-title a:focus {
  color: var(--title-text-color);
}
.footer-title .link.current {
  color: var(--title-text-color);
}
/* project */
.project {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-text-color);
}
.project-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
